debug/.dart_tool
debug/build
release/.dart_tool
release/build
debug/.flutter-plugins-dependencies
release/.flutter-plugins
release/.flutter-plugins-dependencies
debug/.flutter-plugins-dependencies
debug/.flutter-plugins-dependencies
toolchain/scan_result_api.txt
toolchain/scan_result_assets.txt
toolchain/scan_result_link.txt
toolchain/scan_result_other.txt
toolchain/scan_result_product_text.txt
toolchain/scan_result_route.txt
toolchain/scan_result_var.txt
scan_result.json
